<html>
<head>

</head>
<body>
    <div>
        <nav>
            <ul>
                <li>
                    <a href="/home/index">home</a>

                </li>
                <li>
                    <a href="/tenis/seuperfil/123">Tenis</a>

                </li>
            </ul>

        </nav>

        <article>
            @RenderBody()
        </article>


    </div>
</body>
</html>