<html>
<head>

</head>
<body>
    <div>
       
        @*@Html.Partial("_Menu")
        
        
        @await Html.PartialAsync("_Menu")
        *@
        
        <partial name="_menu" ></partial>
        

        <article>
            @RenderBody()
        </article>


    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>