@model HomeViewModel




<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Tript</h1>
        <p class="lead text-muted">Conheca as novidades sobre os melhores destinos e esteja sempre por dentro das novidades.</p>
        <p>
            <a href="#" class="btn btn-primary my-2">Buscar passagens</a>
            <a href="#" class="btn btn-secondary my-2">Conheca nosso blog</a>
        </p>
    </div>
</section>


<div class="row">
    <div class="menu">
        <ul>
            <li>
                <div class="mysprite alemanha"  ></div>
            </li>
            <li>
                <div class="mysprite brasil"></div>
            </li>
            <li>
                <div class="mysprite argentina"></div>

            
            </li>
            <li>
                <div class="mysprite japao"></div>

            </li>
            <li>
                <div class="mysprite espanha"></div>

            </li>
            <li>
                <div class="mysprite grecia"></div>

            </li>
            <li>
                <div class="mysprite eua"></div>

            </li>
            <li>
                <div class="mysprite italia"></div>

            </li>
            <li>
                <div class="mysprite portugal"></div>

            </li>
           
        </ul>
    </div>
</div>


<div class="row">
    <div id="carroseul" class="col">
        <div class="jcarousel-wrapper">
            <div class="jcarousel">
                <ul>
                    <li>
                        <img class="carroseulimage" src="~/images/imagem-1.jpg" />
                    </li>
                    <li>
                        <img class="carroseulimage" src="~/images/imagem-2.jpg" />
                    </li>
                    <li>
                        <img class="carroseulimage" src="~/images/imagem-3.jpg" />
                    </li>
                    <li>
                        <img class="carroseulimage" src="~/images/imagem-4.jpg" />
                    </li>
                </ul>
            </div>
            <div>
                <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                <a href="#" class="jcarousel-control-next">&rsaquo;</a>
            </div>

        </div>
    </div>
</div>


<vc:noticias total="20" noticias-urgentes="false"></vc:noticias>





