/*
This is an example of how to use the image sprite in your own CSS files
*/
.mysprite {
	background-image: url('mysprite.sprite.png');
	background-repeat: no-repeat;
	display: inline-block;
}
.mysprite.alemanha {
	width: 218px;
	height: 124px;
	background-position: -50px -50px;
}
.mysprite.argentina {
	width: 168px;
	height: 99px;
	background-position: -318px -50px;
}
.mysprite.brasil {
	width: 207px;
	height: 121px;
	background-position: -536px -50px;
}
.mysprite.canada {
	width: 157px;
	height: 116px;
	background-position: -793px -50px;
}
.mysprite.espanha {
	width: 211px;
	height: 137px;
	background-position: -1000px -50px;
}
.mysprite.eua {
	width: 170px;
	height: 93px;
	background-position: -1261px -50px;
}
.mysprite.grecia {
	width: 165px;
	height: 112px;
	background-position: -1481px -50px;
}
.mysprite.italia {
	width: 168px;
	height: 110px;
	background-position: -1696px -50px;
}
.mysprite.japao {
	width: 177px;
	height: 115px;
	background-position: -1914px -50px;
}
.mysprite.portugal {
	width: 222px;
	height: 142px;
	background-position: -2141px -50px;
}
